/**************************************
ポージング一覧ページ（トップページ）
**************************************/
.posing_index_main {
  background-color: #d2d2da;
}

/**************************************
ログインユーザー名表示部分
**************************************/
.current_user_name_area {
  height: 50px;
  width: 100%;
  background-color: #d2d2da;
}

.current_user_name {
  line-height: 50px;
  font-size: 20px;
  text-align: right;
  margin-right: 80px;
  color: #e56170;
  font-weight: 300;
}

.current_user_name a {
  color: #022578;
  text-decoration: none;
}

/**************************************
アプリ説明部分
**************************************/

.app_explanation {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: #022578;
}

.explanation_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 70%;
}

.app_explanation_items {
  position: absolute;
  top: 10%;
  width: 100%;
  padding: 0 80px;
}

.app_explanation_title {
  font-size: 70px;
  font-weight: 500;
  color: yellow;
}

.app_explanation_text {
  color: #f0f0f0;
  font-size: 28px;
}

/**************************************
ポージング一覧部分
**************************************/

.posing_area {
  padding: 0 150px 80px;
  background-color: #d2d2da;
}

.posing_area_title {
  width: 350px;
  margin: 70px auto 50px;
  text-align: center;
  font-size: 36px;
  border-bottom: 5px solid yellow;
  color: black;
}

.posing_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posing_item {
  border: 2px solid;
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
  background-color: #f0f0f0;
}

.poster_name {
  text-align: center;
  border-bottom: 1px solid;
  padding: 5px 0;
}

.poster_name a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 18px;
  padding: 3px;
}

.posing_image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.contest_group {
  margin-top: 10px;
  text-align: center;
}

.contest_category {
  text-align: center;
}

.posing_type {
  text-align: center;
}

.show_btn {
 width: 75px;
 height: 40px;
 background-color: aqua;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 3px;
 margin: 8px auto;
}

.show_btn a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/**************************************
ポージング詳細ページ
**************************************/
.posing_show_main {
  width: 100%;
  background-color: #d2d2da;
  padding: 50px 0;
}

.posing_show_area {
  width: 70%;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 50px 0;
}

.posing_show_title {
  text-align: center;
  font-size: 40px;
  width: 350px;
  margin: 0 auto;
  color: black;
  font-weight: 600;
  background-color: yellow;
  border-radius: 20px;
  padding: 5px 0;
}

.posing_content {
  margin-top: 40px;
}

.show_poster_name {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  color: #022578;
  font-weight: 400;
}

.show_poster_name a {
  color: #022578;
  text-decoration: none;
}

.show_posing_image {
  width: 100%;
  object-fit: contain;
  height: 700px;
}

.edit_delete {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edit_btn {
  background-color: aqua;
  width: 15%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.edit_btn a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.delete_btn {
  background-color: red;
  width: 15%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.delete_btn a {
  text-decoration: none;
  font-size: 24px;
  color: #f0f0f0;
}

.posing_info {
  width: 80%;
  margin: 20px auto 60px;
  background-color: yellow;
  padding: 30px;
  font-size: 22px;
}

.remarks {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

.remarks_header {
  font-size: 22px;
}

.remarks_text {
  margin-bottom: 40px;
}

.comment_area {
  width: 70%;
  margin: 50px auto 0;
  background-color: #f0f0f0;
  padding: 50px;
}

.input_comment {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  padding: 4px;
}

.comment_submit {
  display: block;
  margin: 0 auto;
  background-color: aqua;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}

.note {
  color: red;
  text-align: center;
}

.comments {
  margin-top: 60px;
}

.comments_title {
  color: #e56170;
}

.comment {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 0 7px;
}

.comment_poster_name a {
  text-decoration: none;
  color: #022578;
  font-weight: bold;
}