/**********************************************
ユーザー新規登録画面、ログイン画面、ポージング投稿画面
**********************************************/

.form {
  width: 100%;
  background-color: #d2d2da;
  padding: 50px 0;
}

.form_wrapper {
  width: 50%;
  background-color: #f0f0f0;
  padding: 60px 100px;
  margin: 0 auto;
}

.form_header {
  text-align: center;
  font-size: 32px;
  font-weight: 300px;
}

.form_main {
  width: 100%;
  margin-top: 60px;
}

.form_group {
  margin-bottom: 40px;
  text-align: center;
}

.input_field {
  width: 70%;
  height: 30px;
  margin-top: 5px;
}

.input_area {
  width: 70%;
  height: 100px;
  margin-top: 5px;
}

.form_footer {
  text-align: center;
}

.form_submit {
  height: 50px;
  width: 40%;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

.return_btn {
  height: 40px;
  width: 30%;
  margin: 10px auto;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.return_btn a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.field_with_errors {
  display: contents;
}

.login-flash-message {
  text-align: center;
  margin-top: 20px;
  color: red;
}


