/**************************************
1ヘッダー
**************************************/
.first_header {
  height: 100px;
  width: 100%;
  background-color: #e56170;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.header_logo a{
  font-size: 36px;
  font-weight: 600;
  color: #f0f0f0;
  text-decoration: none;
}

.header_lists {
  display: flex;
  list-style: none;
}

.header_lists li {
  height: 50px;
  width: 130px;
  background-color: #022578;
  margin-left: 30px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  font-weight: 600;
}

.header_lists li a {
  text-decoration: none;
  color: #f0f0f0;
}

/**************************************
1フッター
**************************************/
.first_footer {
  height: 80px;
  width: 100%;
  background-color: #022578;
  line-height: 80px;
  padding: 0 150px;
}

.footer_logo {
  font-size: 30px;
  font-weight: 600;
  color: #f0f0f0;
  text-align: center;
  background-color: #e56170;
}

/*******************************
2ヘッダー
*******************************/
.second_header {
  width: 100%;
  height: 120px;
  background-color: #022578;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_header_logo a {
  color: #e56170;
  text-decoration: none;
  font-size: 50px;
  font-weight: 600;
}

/*******************************
2フッター
*******************************/
.second_footer {
  width: 100%;
  height: 80px;
  font-size: 40px;
  font-weight: 600;
  color: #022578;
  text-align: center;
  line-height: 80px;
  background-color: #e56170;
}
