<header class="first_header">
  <div class="header_logo">
     <a href="/">Best Pose</a>
  </div>
  <ul class="header_lists">
    <% if user_signed_in? %>
      <li><a href="#">ユーザー編集</a></li>
      <li><a href="#">マイページ</a></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to 'ポージング投稿', new_posing_path %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %>
      <li><%= link_to 'ユーザー登録', new_user_registration_path %>
    <% end %>
  </ul>
</header>