<header class="first_header">
  <div class="header_logo">
     <a href="#">Best Pose</a>
  </div>
  <ul class="header_lists">
    <li><a href="#">ログイン</a></li>
    <li><%= link_to 'ユーザー登録', new_user_registration_path %>
  </ul>
</header>

<div class="posing_index_main">
  <div class="app_explanation">
    <%= image_tag "posing.jpeg", class: "explanation_image" %>
    <div class="app_explanation_items">
      <div class="app_explanation_title">
        Best Poseとは・・・
      </div>
      <p class="app_explanation_text">
        ボディメイクの大会に出場してみたいが<br>
        ポージングの取り方がわからない<br>
        ポージングが不安であるそんなあなたのために<br>
        ポージング画像を投稿し、<br>
        フィードバックしてもらうアプリです。
      </p>
    </div>
  </div>

    <div class="posing_area">
      <div class="posing_area_title">
        ポージング一覧
      </div>
      <div class="posing_items">
        <div class="posing_item">
          <div class="poster_name">
            ayumuさんのポージング
          </div>
          <%= image_tag "posing.jpeg", class: "posing_image"%>
          <div class="contest_group">
            出場団体： FWJ
          </div>
          <div class="contest_category">
            カテゴリー： メンズフィジーク
          </div>
          <div class="posing_type">
            ポーズの種類： フロントポーズ
          </div>
          <div class="show_btn">
            <a href="#">詳細へ</a>
          </div>
        </div>

        <div class="posing_item">
          <div class="poster_name">
            ayumuさんのポージング
          </div>
          <img src="#" class="posing_image">
          <div class="contest_group">
            出場団体： FWJ
          </div>
          <div class="contest_category">
            カテゴリー： メンズフィジーク
          </div>
          <div class="posing_type">
            ポーズの種類： フロントポーズ
          </div>
          <div class="show_btn">
            <a href="#">詳細へ</a>
          </div>
        </div>

        <div class="posing_item">
          <div class="poster_name">
            ayumuさんのポージング
          </div>
          <img src="#" class="posing_image">
          <div class="contest_group">
            出場団体： FWJ
          </div>
          <div class="contest_category">
            カテゴリー： メンズフィジーク
          </div>
          <div class="posing_type">
            ポーズの種類： フロントポーズ
          </div>
          <div class="show_btn">
            <a href="#">詳細へ</a>
          </div>
        </div>

        <div class="posing_item">
          <div class="poster_name">
            ayumuさんのポージング
          </div>
          <img src="#" class="posing_image">
          <div class="contest_group">
            出場団体： FWJ
          </div>
          <div class="contest_category">
            カテゴリー： メンズフィジーク
          </div>
          <div class="posing_type">
            ポーズの種類： フロントポーズ
          </div>
          <div class="show_btn">
            <a href="#">詳細へ</a>
          </div>
        </div>
        
      </div>
    <div>
  </div>

</div>

<footer class="first_footer">
  <div class="footer_logo">
    BEST POSE
  </div>
</footer>